################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Task1/DesignTimeBuild
/.vs/Task1/v17/TestStore/0
/.vs
/AnagramLibrary/.vs/AnagramLibrary/v17
/AnagramLibrary/AnagramLibrary/.vs
/AnagramLibrary/AnagramLibrary/bin/Debug
/AnagramLibrary/AnagramLibrary/obj
/AnagramLibrary/AnagramLibrary/Properties
/AnagramTest/.vs
/AnagramTest/AnagramTest/bin/Debug/net8.0
/AnagramTest/AnagramTest/obj
/Program/.vs
/Program/Program/bin/Debug/net8.0
/Program/Program/obj
/Anagram/.vs
*.json
/Anagram/Anagram.BL/bin/Debug/net8.0/Anagram.BL.pdb
/Anagram/Anagram.BL/obj
/Anagram/Anagram.Test/bin
/Anagram/Anagram.Test/obj
/Anagram/Anagram.BL/bin/Debug/net8.0
/Anagram/Anagram.UI/bin/Debug/net8.0
/Anagram/Anagram.UI/obj
/Anagram/Anagram.Types/bin/Debug/net8.0
/Anagram/Anagram.Types/obj
